<div id="wrapper">
  <a id="zip" href="/{{album.name}}/zip">
    Download
  </a>

  <div id="title">
    {{album.title}}
    <div id="description">
      {{album.description}}
    </div>
  </div>

  <div id="container">
    {{#preload}}
      <a class="picture" data-fancybox="picture" style="width:{{flex.width}}px;flex-grow:{{flex.width}}"
        id="picture-{{idStr}}" href="/_/{{album.name}}/previews/{{filename}}"
        data-width="{{preview.width}}" data-height="{{preview.height}}"
        data-download-url="/_/{{album.name}}/originals/{{filename}}">

        <div style="padding-bottom:{{flex.padding}}%"></div>
        <img src="/_/{{album.name}}/thumbs/{{filename}}">
      </a>
    {{/preload}}

    {{#lazy}}
      <a class="picture" data-fancybox="picture" style="width:{{flex.width}}px;flex-grow:{{flex.width}}"
        id="picture-{{idStr}}" href="/_/{{album.name}}/previews/{{filename}}"
        data-width="{{preview.width}}" data-height="{{preview.height}}"
        data-download-url="/_/{{album.name}}/originals/{{filename}}">

        <div style="padding-bottom:{{flex.padding}}%"></div>
        <img src="" data-original="/_/{{album.name}}/thumbs/{{filename}}">
      </a>
    {{/lazy}}

  </div>
</div>
