<div id="index">
  {{#albums}}
    <a class="album" href="/{{name}}">
      <img data-original="/_/{{name}}/samples.jpg">
      <div class="title">{{title}}</div>
      <div class="description">{{description}}</div>
    </a>
  {{/albums}}
</div>
