#index
  - Lib::Index.albums.each do |album|
    %a.album{:href => "/#{album.name}", :style => "background-image: url(/#{album.name}/samples)"}
      .title= album.config(:title)
      .desc= album.config(:desc)
