%form.password{:method => :post, :action => '/password'}
  %label{:for => :password}Password:
  %input{:type => :password, :name => :password, :id => :password}
  %input{:type => :hidden, :name => :name, :value => @album.nil? && '' || @album.name}

:javascript
  document.getElementById('password').focus();

  /*
  $(function(){
    $('.password').on('submit', function(e) {
      var date = new Date();
      var value = $('#password').val() + date.getYear() % 100 + (date.getMonth() + 1) + date.getDate()
      var name = "pwd-" + window.location.pathname.split('/')[1];
      $.cookie(name, $.sha1(value), {expires: 1, path: '/'});
      window.location.reload();
      return false;
    })

    $('#password').focus();
  })
  */
