%form.password{:method => :post, :action => '/password'}
  %label{:for => :password} &#9995;
  %br
  %input{:type => :password, :name => :password, :id => :password}
  %input{:type => :hidden, :name => :name, :value => @album.nil? && '' || @album.name}

:javascript
  document.getElementById('password').focus();
