html, body
  margin: 0px
  padding: 0px

body
  color: #292929
  background-color: #eee
  font-family: sans-serif

.item
  padding: 0px
  background: transparent
  outline: none
  opacity: 0

  img
    vertical-align: bottom
    border: 0px
    padding: 0px
    margin: 0px

  img:hover
    filter: brightness(140%)

#title, #desc
  font-size: 30pt
  margin: 1em
  text-align: center

#desc
  margin: 0px
  font-size: 15pt
  font-style: italic

#zip
  position: absolute
  top: 2em
  right: 2em
  padding: 1em
  background: #ddd
  -webkit-border-radius: 10
  -moz-border-radius: 10
  border-radius: 5px
  text-decoration: none
  color: black
  opacity: 0.5

#zip:hover
  opacity: 1

.justified-gallery .section
  display: table

.justified-gallery .section .caption
  display: table-cell !important
  vertical-align: middle
  opacity: 1 !important
  font-size: 20pt
  text-align: center
  bottom: auto
  position: initial
  background-color: #ccc
  color: black

#wrapper
  padding: 0px 40px

#container
  text-align: center

.password

  font-family: sans-serif
  width: 300px
  padding: 20px
  margin: auto
  margin-top: 100px
  text-align: center
  background-color: #ededed

  label
    color: #777
    font-size: 60pt
    font-weight: bold
    display: inline-block
    margin-bottom: 10px

  input[type="password"]
    font-size: 24px
    padding: 6px
    color: #444
    outline: none
    border: 1px solid #dcdcdc
    background-clip: padding-box
    background-color: #fff

#index
  margin: 0px
  text-align: center

  .album
    display: inline-block
    text-decoration: none
    outline: none
    margin: 20px
    width: 322px
    background-color: rgba(255, 255, 255, 0.4)
    padding: 6px

    .title, .desc
      margin: 2px
      padding-left: 2px
      overflow: hidden
      white-space: nowrap
      color: black
      text-align: left

      font-family: Georgia, serif
      font-size: 14px
      text-transform: normal
      letter-spacing: normal

    .desc
      font-style: italic
      font-weight: normal
      font-size: 12px
      padding-bottom: 2px
      color: #999

    img
      width: 100%

.download.icon
  color: white
  position: absolute
  margin-left: 14px
  margin-top: 22px
  width: 13px
  height: 4px
  border-radius: 1px
  border: solid 2px currentColor
  border-top: none

.download.icon:before
  content: ''
  position: absolute
  left: 6px
  top: -8px
  width: 2px
  height: 10px
  background-color: currentColor

.download.icon:after
  content: ''
  position: absolute
  left: 4px
  top: -4px
  width: 4px
  height: 4px
  border-top: solid 2px currentColor
  border-right: solid 2px currentColor
  -webkit-transform: rotate(135deg)
  transform: rotate(135deg)
