<form class="password" id="form">
  <label for="password">&#9995;</label>
  <br>
  <input type="password" name="password" id="password">
</form>

<script type="text/javascript">
  var password = document.getElementById('password');
  var salt = "{{salt}}";
  password.focus();

  document.getElementById('form').onsubmit = function(e) {
    document.cookie = "pwd=" + sha1(salt + password.value);
    document.location.reload();
    return false;
  };
</script>
